<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>{% block title %}Welcome!{% endblock %}</title>
		{% block stylesheets %}{% endblock %}
		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
		<style>
			body { padding-top: 70px; }
		</style>

		<!-- Scripts -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">
				<div class="navbar-header">
					<!-- <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button> -->
					<a class="navbar-brand" href="/">Symfony Test</a>
				</div>
				<!-- <div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li class="active"><a href="#">Home</a></li>
						<li><a href="#about">About</a></li>
						<li><a href="#contact">Contact</a></li>
					</ul>
				</div> --><!--/.nav-collapse -->
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
					{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
				<div id="navbar" class="collapse navbar-collapse navbar-right">
					<ul class="nav navbar-nav">
						<li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
					</ul>
				</div>
				{% else %}
				<form class="navbar-form navbar-right" action="{{ path("fos_user_security_check") }}" method="post">
					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
					<div class="form-group">
						<a href="{{ path('fos_user_registration_register') }}">Register</a> &nbsp;
					</div>
					<div class="form-group">
						<input type="text" placeholder="Username" id="username" name="_username" value="" required="required" class="form-control" />
					</div>
					<div class="form-group">
						<input type="password" placeholder="Password" id="password" name="_password" required="required" class="form-control" />
					</div>
					<button type="submit" class="btn btn-success">Sign in</button>
				</form>
				{% endif %}
			</div>
		</nav>

		<div class="container">
			{% for type, messages in app.session.flashBag.all %}
				{% for message in messages %}
					<div class="alert alert-{{type}}">
						{{ message|trans({}, 'FOSUserBundle') }}
					</div>
				{% endfor %}
			{% endfor %}

			<h1>{% block subtitle %}{% endblock %}</h1>
			{% block content %}{% endblock %}
		</div>
		{% block javascripts %}{% endblock %}
	</body>
</html>
