{% extends 'base.html.twig' %}

{% block content %}
	<div id="welcome">
		{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
			<h1><span>Welcome, </span> {{app.user.username}}!</h1>
		{% else %}
			<h1><span>Welcome, </span> please login or register to use the website!</h1>
		{% endif %}
	</div>

	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
		<form action="/saveyoutube" method="post">
			<p>Please paste a YouTube URL containing <strong>/user/</strong> or <strong>/channel/</strong></p>
			Youtube URL: <input size="50" type="text" name="youtube_channel" id="youtube_channel" value="{{youtube_channel}}" /> <button type="submit" id="btn-update2">Update</button>
		</form>
		<span class="alert-danger" role="alert" id="msg-youtube"></span>
		<div id="youtube-result"></div>

		<script>
			const youtube_key = 'AIzaSyAOYKETFHOZMTNtCLMfDmYLH_6omlW2Xhs';
			$(function() {

				check_youtube();

				$("#youtube_channel").click(function() {
					this.select();
				});
			});

			function check_youtube() {
				var url = $('#youtube_channel').val();
				var urlparts = url.split('/');
				var p = /^(?:https?:\/\/)?(?:www\.)?(?:youtu\.be\/|youtube\.com\/(?:user|channel)\/)((\w|-){11})(?:\S+)?$/;


				if (url == '' || !url.match(p)) {
					$("#msg-youtube").html("Invalid URL");
				}
				else if (urlparts[3] == 'user') {
					get_youtube_channels(urlparts[4]);
				}
				else if (urlparts[3] == 'channel') {
					get_youtube_videos(urlparts[4]);
				}
				else {
					$("#msg-youtube").html("Invalid youtube URL");
				}
			}

			function get_youtube_channels(user) {
				$.get(
					"https://www.googleapis.com/youtube/v3/channels", {
						part : 'contentDetails', 
						forUsername : user,
						key: youtube_key
					},
					function(data) {
						if (data.pageInfo.totalResults == 0) {
							$("#msg-youtube").html("User not found.");
						}
						else {
							$.each( data.items, function(i, item) {
								get_youtube_videos(item.id);
							});
						}
					}
				);
			}

			function get_youtube_videos(channel) {
				//snippet,id&order=date&maxResults=10
				$.get(
					"https://www.googleapis.com/youtube/v3/search", {
						part : 'snippet,id', 
						order : 'date', 
						maxResults : 10, 
						channelId : channel,
						key: youtube_key
					},
					function(data) {
						if (data.error == 0) {
							$("#msg-youtube").html(data.error.message);
						}
						else {
							var wrapper = $('<div class="panel panel-default"></div>');
							var container = $('<div class="panel-body video-list"></div>');
							$("#youtube-result").append($('<div class="col-sm-4"></div>').append(wrapper));
							$(wrapper).append('<div class="panel-heading">Latest Videos</div>', container);
						
							// Prepare each video
							$.each( data.items, function(i, item) {
								$(container).append('<a target="_blank" title="' + item.snippet.description + '" href="https://www.youtube.com/watch?v=' + item.id.videoId + '"><div class="pull-left thumbnail" style="background-image: url(' + item.snippet.thumbnails.default.url + ');"></div><div class="title">' + item.snippet.title + '</div><div class="clearfix"></div></a>');
							});

							// Print final result

						}
					}
				);
			}
		</script>
	{% endif %}
{% endblock %}

{% block stylesheets %}
<style>
	body { background: #F5F5F5; font: 18px/1.5 sans-serif; }
	h1, h2 { line-height: 1.2; margin: 0 0 .5em; }
	h1 { font-size: 36px; }
	h2 { font-size: 21px; margin-bottom: 1em; }
	p { margin: 0 0 1em 0; }
	a { color: #0000F0; }
	a:hover { text-decoration: none; }
	code { background: #F5F5F5; max-width: 100px; padding: 2px 6px; word-wrap: break-word; }
	.panel { margin-top: 10px; }
	.video-list a { display: block; }
	.video-list .thumbnail { margin-right: 10px; border-radius: 40px; width: 64px; height: 64px; background-size: cover; }
	.video-list .title { padding-top: 10px; }
</style>
{% endblock %}

