{% trans_default_domain 'FOSUserBundle' %}

<h1>{% block title %}Registration{% endblock %}</h1>

<form action="{{ path('fos_user_registration_register') }}" method="POST" class="form-horizontal">
	<div class="form-group">
		{{ form_label(form.email, 'form.email'|trans, { 'label_attr': {'class': 'col-sm-2 control-label' } }) }}
		<div class="col-sm-6">
			{{ form_widget(form.email, { 'attr': {'class': 'form-control' } }) }}
			{{ form_errors(form.email) }}
		</div>
	</div>
	<div class="form-group">
		{{ form_label(form.username, 'form.username'|trans, { 'label_attr': {'class': 'col-sm-2 control-label' } }) }}
		<div class="col-sm-6">
			{{ form_widget(form.username, { 'attr': {'class': 'form-control' } }) }}
			{{ form_errors(form.username) }}
		</div>
	</div>
	<div class="form-group">
		{{ form_label(form.plainPassword.first, 'form.password'|trans, { 'label_attr': {'class': 'col-sm-2 control-label' } }) }}
		<div class="col-sm-6">
			{{ form_widget(form.plainPassword.first, { 'attr': {'class': 'form-control' } }) }}
			{{ form_errors(form.plainPassword.first) }}
		</div>
	</div>
	<div class="form-group">
		{{ form_label(form.plainPassword.second, 'form.password_confirmation'|trans, { 'label_attr': {'class': 'col-sm-2 control-label' } }) }}
		<div class="col-sm-6">
			{{ form_widget(form.plainPassword.second, { 'attr': {'class': 'form-control' } }) }}
			{{ form_errors(form.plainPassword.second) }}
		</div>
	</div>
	{{ form_rest(form) }}

	<div class="form-group">
		<div class="col-sm-offset-2 col-sm-6">
			<input class="btn btn-default" type="submit" value="{{ 'registration.submit'|trans }}">
		</div>
	</div>
</form>
