{% extends 'base.html.twig' %}
{% block content %}

	{% if app.request.hasPreviousSession %}
		{% for type, messages in app.session.flashbag.all() %}
			{% for message in messages %}
				<div class="flash-{{ type }}">
					{{ message }}
				</div>
			{% endfor %}
		{% endfor %}
	{% endif %}

	<div>
		{% block fos_user_content %}
		{% endblock fos_user_content %}
	</div>
	
{% endblock %}